<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Port" value="8098" />
		<add key="ServerIP" value="127.0.0.1" />
		<add key="ApiUrl" value="https://smartcenter.com.vn/api/" />
		<add key="WidthImage" value="40" />
		<add key="HeightImage" value="40" />
	</appSettings>
</configuration>